body {
    font-family: Arial;
  text-align: center;
  background-color: #f4f9f4;
}

h1 {
  color: #2e7d32;
}

button {
  padding: 10px 20px;
  background-color: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
}
